*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  text-align: center;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ccc;
}

#my-game {
  height: 400px;
  width: 600px;
  background-color: pink;
  padding: 10px;
  position: relative;
}

#countdown{
  position: absolute;
}

#question-content{
  text-align: center;
  height: 80px;
}

#question-answer{
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  height: 200px;
}
/* #question-answer div{
  text-align: left;
} */


.answer-content{
  display:inline-block;
}

#alert{
  display:none;
}